body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fffdfdc7;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #060606d5;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
}

.display {
    background-color: #faf7f7d6;
    color: #080808;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:active {
    background-color: #7a7373ab;
}

.equal {
    grid-column: span 2;
    background-color: #6e98d3e6;
    color: #fff;
}

.equal:active {
    background-color: #f57f17;
}
